@import 'reset';
@import 'bourbon';
@import 'bootstrap';

// Colors
$white: #FFFFFF;
$darkest-grey: #222222;
$dark-grey: #3d3d3d;
$grey: #464545;
$blue: #3498db;
$purple: #454DE1;
$green: #00bc8c;
$red: #e74c3c;
$peach: #E78F3C;
$orange: #f39c12;
//

body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  padding-top: 50px;
}

.container-content {
  margin-top: 40px;
}
.panels {
  .panel-body {
    text-align: center;
    overflow: auto;
  }
}
.charts {
  h1 a {
    font-size: 14px;
    margin-left: 20px;
  }
  .canvas {
    background-color: $white;
    padding: 15px 15px 10px 5px;
    &.blue {
      background: $blue;
    }
    &.green {
      background: $green;
    }
    &.red {
      background: $red;
    }
    &.orange {
      background: $orange;
    }
  }
}
.avgs {
  .well {
    text-align: center;
  }
}
.data-usage {
  text-align: center;
  .panel-info > .panel-heading {
    background-color: $purple;
    border-color: $purple;
  }
  .panel-body {
    padding: 15px 75px;
  }
}
.map {
  #map {
    height: 320px;
    margin-bottom: 40px;
  }
}

.add-device-show {
  margin-top: 40px;
}

.add-device {
  margin-top: 40px;
  display: none;
}